<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Apartment Details</title>
  <div th:replace="~{fragments/background-fragment :: background-style}"></div>
</head>
<body>
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-1 text-danger fw-bold" th:if="${status}" th:text="${status}">404</h1>
    <h4 class="text-secondary mb-3" style="color: white">Oops! Something went wrong.</h4>
    <p class="lead" style="color: white" th:text="${message}"></p>
    <a href="/apartments" class="btn btn-primary mt-3">Go to Homepage</a>
  </div>
</div>
<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>
