<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">User List</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary btn-sm">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/users/register" class="btn btn-primary w-100 mt-3">Add</a>
</div>

<script src="/bootstrap.min.js"></script>
</body>
</html>