<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <div th:insert="~{fragments/logout-fragment :: header}"></div>
    <h1 class="mb-4 text-center">User List</h1>

    <form class="mb-4" method="get" action="/users">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="page" class="form-label">Page</label>
                <input id="page" type="number" name="page" class="form-control"
                       th:value="${users.metadata.page}" min="0" required>
            </div>
            <div class="col-md-6">
                <label for="size" class="form-label">Size</label>
                <input id="size" type="number" name="size" class="form-control"
                       th:value="${users.metadata.size}" min="1" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Pagination</button>
    </form>

    <form class="mb-4" action="/users" th:object="${filter}">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" name="rooms" class="form-control" min="1" th:field="*{email}">
            </div>
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" type="text" name="firstName" class="form-control" min="1" th:field="*{firstName}">
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input id="lastName" type="text" name="lastName" class="form-control" min="1" th:field="*{lastName}">
            </div>
            <div class="col-md-6">
                <label for="gender" class="form-label">Genders</label>
                <select class="form-select" id="gender" name="gender">
                    <option th:each="gender : ${genders}"
                            th:text="${gender}" th:value="${gender}">
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="birthdateFrom" class="form-label">Birthdate from</label>
                <input id="birthdateFrom" type="date" name="birthdateFrom" class="form-control" min="1"
                       th:field="*{birthdateFrom}">
            </div>
            <div class="col-md-6">
                <label for="birthdateTo" class="form-label">Birthdate to</label>
                <input id="birthdateTo" type="date" name="birthdateTo" class="form-control" min="1"
                       th:field="*{birthdateTo}">
            </div>
            <div class="col-md-6">
                <label for="money" class="form-label">Money</label>
                <input id="money" type="number" name="money" class="form-control" min="1"
                       th:field="*{money}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Filter</button>
    </form>

    <table class="table table-bordered table-striped" th:if="${users.metadata.totalElements != 0}">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users.content}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary btn-sm">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/users/registration" class="btn btn-success w-100 mt-3">Add User</a>
    <div th:insert="~{fragments/footer-fragment :: footer}"></div>
</div>
</body>
</html>
