<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center">User List</h1>

    <form class="mb-4">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="page" class="form-label">Page</label>
                <input id="page" type="number" name="page" class="form-control"
                       th:value="${users.metadata.page}" min="0" required>
            </div>
            <div class="col-md-6">
                <label for="size" class="form-label">Size</label>
                <input id="size" type="number" name="size" class="form-control"
                       th:value="${users.metadata.size}" min="1" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Filter</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users.content}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary btn-sm">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/users/registration" class="btn btn-success w-100 mt-3">Add New User</a>
</div>
</body>
</html>
