<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <div th:replace="~{fragments/background-fragment :: background-style}"></div>
</head>
<body>
<div th:replace="~{fragments/header-fragment :: header}"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4" style="width: 100%; max-width: 500px;">
        <h3 class="text-center mb-4">Add your info</h3>
        <form th:action="@{/userDetails}" method="post" enctype="multipart/form-data" th:object="${userDetail}">
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
                <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
            </div>
            <div class="mb-3">
                <label for="money" class="form-label">Money</label>
                <input type="number" class="form-control" id="money" name="money" th:field="*{money}" min="0">
                <p class="text-danger" th:if="${#fields.hasErrors('money')}" th:errors="*{money}"></p>
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate</label>
                <input type="text" class="form-control" id="birthdate" name="birthdate" th:field="*{birthdate}">
                <p class="text-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Photo</label>
                <input type="file" class="form-control" id="photo" name="photo" accept="image/*" th:field="*{photo}">
                <p class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>