<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header-Fragment</title>
    <div th:replace="~{fragments/background-fragment :: background-style}"></div>
</head>
<body>
<header class="bg-primary text-white py-3" style="margin-bottom: 2rem">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="d-flex flex-column text-start align-items-start mb-3 mb-md-0">
            <h1 class="h4 mb-1">
                <a href="/apartments" class="text-white text-decoration-none">Hotel Booking System</a>
            </h1>
            <div th:insert="~{fragments/locale-fragment :: locale}"></div>
        </div>

        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="text-center mb-3 mb-md-0">
            <a href="/orders" class="btn btn-secondary me-2">To Orders</a>
            <a href="/users" class="btn btn-secondary">To Users</a>
        </div>

        <div class="text-end">
            <span th:if="${#authentication != null && #authentication.principal instanceof T(com.bolun.hotel.service.CustomUserDetails)}"
                  th:text="|Hi ${#authentication.principal.firstName} ${#authentication.principal.lastName}!|"
                  class="d-block mb-2">
            </span>

            <span th:if="${#authorization.expression('isAnonymous()')}">Hi, Guest!</span>
            <a th:if="${#authentication != null && #authentication.principal instanceof T(com.bolun.hotel.service.CustomUserDetails)}"
               th:href="@{/users/{id}(id=${#authentication.principal.id})}"
               class="btn btn-light btn-sm me-2">My Cabinet
            </a>

            <a th:if="${#authorization.expression('isAnonymous()')}" href="/login"
               class="btn btn-light btn-sm me-2 d-block mb-2" >Login
            </a>

            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-light btn-sm">Logout</button>
            </form>
        </div>
    </div>
</header>
</body>
</html>
