<!DOCTYPE html>
<html lang="en">
<head>
    <title>Locale-Fragment</title>
    <div th:replace="~{fragments/background-fragment :: background-style}"></div>
</head>
<body>
<div class="container mt-3" th:fragment="locale">
    <div class="text-end">
        <form action="" method="get" class="d-inline-block">
            <div class="input-group input-group-sm" style="max-width: 200px;">
                <label for="lang-select" class="visually-hidden">Select Language</label>
                <select id="lang-select" name="lang" class="form-select" onchange="this.form.submit()">
                    <option value="" disabled th:selected="${lang == null}">Select Language</option>
                    <option value="EN" th:selected="${lang == 'EN'}">English</option>
                    <option value="RU" th:selected="${lang == 'RU'}">Русский</option>
                    <option value="RO" th:selected="${lang == 'RO'}">Română</option>
                </select>
            </div>
        </form>
    </div>
</div>
</body>
</html>