<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Apartment</title>
    <div th:replace="~{fragments/background-fragment :: background-style}"></div>
</head>
<body>
<div th:replace="~{fragments/header-fragment :: header}"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-container w-50">
        <h2 class="text-center mb-4">Add New Apartment</h2>
        <form th:action="@{/apartments}" method="post" enctype="multipart/form-data" th:object="${apartment}">
            <div class="mb-3">
                <label for="rooms" class="form-label">Number of Rooms</label>
                <input type="number" class="form-control" id="rooms" name="rooms" placeholder="Enter number of rooms"
                       th:field="*{rooms}" min="1">
                <p class="text-danger" th:if="${#fields.hasErrors('rooms')}" th:errors="*{rooms}"></p>
            </div>
            <div class="mb-3">
                <label for="seats" class="form-label">Number of Seats</label>
                <input type="number" class="form-control" id="seats" name="seats" placeholder="Enter number of seats"
                       th:field="*{seats}" min="1">
                <p class="text-danger" th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"></p>
            </div>
            <div class="mb-3">
                <label for="dailyCost" class="form-label">Daily Cost</label>
                <input type="number" class="form-control" id="dailyCost" name="dailyCost" placeholder="Enter daily cost"
                       th:field="*{dailyCost}" min="5">
                <p class="text-danger" th:if="${#fields.hasErrors('dailyCost')}" th:errors="*{dailyCost}"></p>
            </div>
            <div class="mb-3">
                <label for="apartmentType" class="form-label">Apartment Type</label>
                <select class="form-select" id="apartmentType" name="apartmentType">
                    <option th:each="apartmentType : ${apartmentTypes}"
                            th:text="${apartmentType}" th:value="${apartmentType}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Photo</label>
                <input type="file" class="form-control" id="photo" name="photo" accept="image/*" th:field="*{photo}">
                <p class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <a th:href="@{/apartments}" class="btn btn-secondary mx-2">
                    <i class="bi bi-arrow-left"></i> Back
                </a>
                <button type="submit" class="btn btn-primary">Add Apartment</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>
